:root {
    --body-background-color: #000000a1;
    --branding-color-thirds: #6f11946c;
    --donation-btn-color: #7ad9ff34;
    --donation-btn-color-hover: #6f11946c;
    --text-color-hover: #000000b6;
}

body {
    background: fixed;
    background-image: url('../assets/img/Furchella3.png');
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--body-background-color);
    font-family: 'Gloria Hallelujah', cursive;
}

a {
    color: #ffffff; /* Set the text color to white */
    text-decoration: none; /* Remove the underline from the link */
    /* background-color: #000000; Set the background color for the link */
    padding: 5px 10px; /* Add some padding to the link */
    border-radius: 5px; /* Add rounded corners to the link */
    display: inline-block; /* Make the link a block element */
}

.furthella-text {
    align-items: center;
}

.furchella-text-branding {
    font-family: 'Flavors', cursive;
    color: #ffffff;
}

.brand-tm {
    color: #ffffff;
    font-size: 0.6em;
    margin-left: -15px;
    font-family: 'Gloria Hallelujah', cursive;
}

.brand-tm-footer {
    color: #ffffff;
    font-size: 0.3em;
    margin-left: -6px;
    font-family: 'Gloria Hallelujah', cursive;
}

a:hover {
    /*background-color: #ffffff; Change the background color on hover */
    color: var(--text-color-hover); /* Change the text color on hover */
}

/* .header {
    text-align: left;
    background-color: #7ad9ff34; 
    padding: 10px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; 
} */

.footerLogo {
    font-family: 'Flavors', cursive;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    background-color: var(--branding-color-thirds);
    padding: 10px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.donate-btn {
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff; /* White color for button text */
    background-color: #F09093; /* Sunset color for the button */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

    display:inline-block;
    width: auto !important; 
    height: auto !important;
}

.donate-btn:hover {
    background-color: #FAA496; /* Change the background color on hover */
}

.header h1 {
    margin: 0; /* Remove default margin for h1 element */
    color: #ffffff; /* White color for the heading text */
}

.timer-container {
    text-align: center;
}

.timer {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff; /* White color for the timer */
}

.donation-container {
    text-align: center;
    margin-top: 100px; /* Add margin-top to create space between heading and buttons */
}

.donation-container h2, h3 {
    margin: 0; /* Remove default margin for h2 element */
    padding-bottom: 10px;
    color: #ffffff; /* White color for the heading text */
}

.donation-container h3 {
    padding-bottom: 3em;
}

.donation-btn {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff; /* White color for button text */
    /*background-color: #ffa500;  Sunset color for the buttons */
    background-color: var(--donation-btn-color);
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%; /* Set width to 100% for the buttons to stack vertically */
}

/* Style for the hover state of the .donation-btn class */
.donation-btn:hover {
    background-color: var(--donation-btn-color-hover); /* Change the background color on hover */
}